
<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" #sidenav opened="opened" position="start">
        <mat-nav-list>
            <mat-list-item routerLink="/admin" class="mb-5">
                <mat-icon class="align-middle dash-icon">dashboard</mat-icon>
                <span class="align-middle logoicon">Adminboard</span>
            </mat-list-item>
            <mat-expansion-panel [class.mat-elevation-z0]="true" class="sidenavdropdown">
                <mat-expansion-panel-header>
                    <i class="fa-solid fa-calendar-check fa-2x me-4"></i>
                  Appointments
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/appointments_list">
                        <mat-icon>view_list</mat-icon>
                        <span>Appointment List</span>
                    </a>
                    <a mat-list-item routerLink="/admin/new_appointment">
                        <mat-icon>note_add</mat-icon>
                        <span>New Appointment</span>
                    </a>
                    
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true" class="sidenavdropdown">
                <mat-expansion-panel-header>
                    <i class="fa-solid fa-user-doctor fa-2x me-4"></i>
                  Doctor
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/doctors">
                        <mat-icon>groups</mat-icon>
                        <span>Doctor List</span>
                    </a>
                    <a mat-list-item routerLink="/admin/createdoc">
                        <mat-icon>android</mat-icon>
                        <span>New Doctor</span>
                    </a>
                    <a mat-list-item routerLink="/admin/create_dept">
                        <mat-icon>apple</mat-icon><span>Departmnents</span>
                    </a>
                    
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-expansion-panel [class.mat-elevation-z0]="true" class="sidenavdropdown">
                <mat-expansion-panel-header>
                    <i class="fa-solid fa-bed-pulse fa-2x me-4"></i>
                  Patient
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/patientlist">
                        <mat-icon>groups</mat-icon>
                        <span>Patient List</span>
                    </a>
                    <a mat-list-item routerLink="/admin/create_patient">
                        <mat-icon>android</mat-icon>
                        <span>New Patient</span>
                    </a>
                    <!-- <a mat-list-item routerLink="/admin/patient_admission">
                        <mat-icon>apple</mat-icon><span>Patient Admission</span>
                    </a> -->

                    <a mat-list-item routerLink="/admin/prescription">
                        <mat-icon>apple</mat-icon><span>Prescriptions</span>
                    </a>
                    
                </mat-nav-list>
            </mat-expansion-panel>

            
            <mat-expansion-panel [class.mat-elevation-z0]="true" class="sidenavdropdown">
                <mat-expansion-panel-header>
                    <i class="fa-solid fa-credit-card fa-2x me-4"></i>
                  Payments
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/newpayment">
                        <mat-icon>groups</mat-icon>
                        <span>New Payments</span>
                    </a>
                    <a mat-list-item routerLink="/admin/paymentlist">
                        <mat-icon>android</mat-icon>
                        <span>Payments List</span>
                    </a>
                    <a mat-list-item routerLink="/admin/payment_invoices">
                        <mat-icon>apple</mat-icon><span>Total Billing Invoice</span>
                    </a>
                    
                </mat-nav-list>
            </mat-expansion-panel>


            <mat-expansion-panel [class.mat-elevation-z0]="true" class="sidenavdropdown">
                <mat-expansion-panel-header>
                    <i class="fa-solid fa-door-open fa-2x me-4"></i>
                  Cabin Allotments
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/cabin_allotment">
                        <mat-icon>groups</mat-icon>
                        <span>New Allotment</span>
                    </a>
                    <a mat-list-item routerLink="/admin/cabin_status">
                        <mat-icon>android</mat-icon>
                        <span>Cabins and Status</span>
                    </a>
                    <a mat-list-item routerLink="/admin/newcabin">
                        <mat-icon>apple</mat-icon><span>Add New Cabin</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>




            <mat-expansion-panel [class.mat-elevation-z0]="true" class="sidenavdropdown">
                <mat-expansion-panel-header>
                    <i class="fa-solid fa-list-check fa-2x me-4"></i>
                  Diagonosis
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/diagonosis">
                        <mat-icon>groups</mat-icon>
                        <span>Diagonosis List</span>
                    </a>
                    <a mat-list-item routerLink="/admin/creatediagonosis">
                        <mat-icon>android</mat-icon>
                        <span>New Diagonosis</span>
                    </a>
                   
                </mat-nav-list>
            </mat-expansion-panel>






            <mat-expansion-panel [class.mat-elevation-z0]="true" class="sidenavdropdown">
                <mat-expansion-panel-header>
                    <i class="fa-solid fa-mortar-pestle fa-2x me-4"></i>
                  Pharmacy
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/admin/medicine">
                        <mat-icon>groups</mat-icon>
                        <span>Medicine</span>
                    </a>
                    <a mat-list-item routerLink="/admin/med_report">
                        <mat-icon>android</mat-icon>
                        <span>Medicine Report</span>
                    </a>
                    <a mat-list-item routerLink="/admin/med_supplier">
                        <mat-icon>android</mat-icon>
                        <span>Supplier Information</span>
                    </a>
                   
                </mat-nav-list>
            </mat-expansion-panel>

            

        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <!--  
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        Hospital Management System
        <span class="toolbar-spacer"></span>-->
        <!-- toolbar right side -->

        <!-- <div class="bg-dark test rounded-circle me-2"></div>
        <div class="tool_profile">
        <h3>Minhajul Islam</h3>
        </div> -->
<!--  
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>-->
                    <!-- <div class="bg-dark rounded-circle me-2"></div> 
                    <img src="../../assets/images/team1.png" alt="" class="img-fluid imgtest rounded-circle">
                    <span class="text-white">Minhajul Islam</span>
                </button>
               
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
            -->

            <!-- <div ngbDropdown class="d-flex-block">
                <a type="button" id="dropdownBasic1" ngbDropdownToggle>
                    <div class="bg-dark test rounded-circle me-2"></div>
                    <div>
                        <h3>Minhajul Islam</h3>
                    </div>
                    
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Action - 1</button>
                    <button ngbDropdownItem>Another Action</button>
                    <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>



            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div> 

      </mat-toolbar>-->






      <nav class="navbar bg-body-tertiary bg-dark text-white" color="primary">
        <div class="container-fluid">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
              <div class="d-flex align-self-middle">
                <h4 class=""> Hospital Management System</h4>
               
              </div>

              <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
                    <!-- <div class="bg-dark rounded-circle me-2"></div> -->
                    <img src="../../assets/images/team1.png" alt="" class="img-fluid imgtest rounded-circle">
                    <span class="text-white">Minhajul Islam</span>
                </button>
               
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Profile</button>
                    <button ngbDropdownItem>Log Out</button>
                </div>
            </div>


        
        </div>
      </nav>

    







      <div class="main-content">  

        <router-outlet></router-outlet>
    </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>










<!-- <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
        <mat-icon>menu</mat-icon>
    </button>
    <span>ConcretePage.com</span>
    <span class="toolbar-item-spacer"></span>
    <button mat-icon-button matTooltip="Like">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Share">
        <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
        <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button matTooltip="My Account" [matMenuTriggerFor]="userAccountMenu">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
        <button mat-menu-item routerLink="#">
            <mat-icon>person</mat-icon><span>My Account</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>settings</mat-icon><span>Settings</span>
        </button>
        <button mat-menu-item routerLink="#">
            <mat-icon>help</mat-icon><span>Help</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="#">
            <mat-icon>exit_to_app</mat-icon>Logout
        </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="side" [class.mat-elevation-z4]="true" class="app-sidenav">
        <mat-nav-list>
            <mat-list-item routerLink="#">
                <mat-icon>dashboard</mat-icon><span>Dashboard</span>
            </mat-list-item>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    Mobile Phone
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="#">
                        <mat-icon>apple</mat-icon><span>iOS</span>
                    </a>
                    <a mat-list-item routerLink="#">
                        <mat-icon>android</mat-icon><span>Android</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel [class.mat-elevation-z0]="true">
                <mat-expansion-panel-header>
                    Frameworks
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="#">Spring</a>
                    <a mat-list-item routerLink="#">Hibernate</a>
                    <a mat-list-item routerLink="#">Struts</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet>
            <div class="app-sidenav-content">
                Components open here
            </div>
        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>  -->