

<nav aria-label="breadcrumb">
    <ol class="breadcrumb display">
      <li class="breadcrumb-item"><a href="#" style="text-decoration: none;">Dashboard</a></li>
      <li class="breadcrumb-item active text-dark" aria-current="page">Doctor List</li>
    </ol>
  </nav>

  <div class="container">
    <div class="row mb-5">
        <div class="col">
            <div class="counter blue">
                <div class="counter-icon">
                  <i class="fa-solid fa-bed-pulse"></i>
                </div>
                <span class="counter-value">77</span>
                <h3>Total Patient</h3>
            </div>
        </div>
        <div class="col">
          <div class="counter">
              <div class="counter-icon">
                <i class="fa-solid fa-user-doctor"></i>
              </div>
              <span class="counter-value">50</span>
              <h3>Total Doctors</h3>
          </div>
      </div>
        <div class="col">
            <div class="counter blue">
                <div class="counter-icon">
                  <i class="fas fa-building"></i>
                </div>
                <span class="counter-value">36</span>
                <h3>Total Departments</h3>
            </div>
        </div>
        <div class="col">
            <div class="counter">
                <div class="counter-icon">
                  <i class="fas fa-tasks-alt"></i>
                </div>
                <span class="counter-value">62</span>
                <h3>Pending Patient</h3>
            </div>
        </div>
        <div class="col">
            <div class="counter blue">
                <div class="counter-icon">
                  <i class="fas fa-tasks"></i>
                </div>
                <span class="counter-value">1200</span>
                <h3>Confirmed Patient</h3>
            </div>
        </div>
        <div class="col">
          <div class="counter">
              <div class="counter-icon">
                <i class="fas fa-prescription-bottle-alt"></i>
              </div>
              <span class="counter-value">204</span>
              <h3>Prescriptions</h3>
          </div>
      </div>
    </div>


</div>

















<h3  class="mt-5 text-center bg-info">All Patient List</h3>
<div class="row">
  <div class="col">
  
    <div class="row">
      <mat-form-field class="col">
        <mat-label>Search Your Data Here</mat-label>
        <input matInput (keyup)="applyFilter($event)">
      </mat-form-field>

  
    </div>
  
    <!-- A General Input Field Workd Also -->
    <!-- <input type="text"  (keyup)="applyFilter($event)"> -->
  
    <div class="mat-elevation-z8 table_wrapper">
      <table mat-table [dataSource]="datasource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell class="text-center" *matCellDef="let row"> {{row.id}} </td>
        </ng-container>
  
        <ng-container matColumnDef="p_first_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
          <td mat-cell class="text-center" *matCellDef="let row"> {{row.p_first_name}}</td>
        </ng-container>
  
        <ng-container matColumnDef="p_last_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell  class="text-center"  *matCellDef="let row"> {{row.p_last_name}} </td>
        </ng-container>
  
        <ng-container matColumnDef="p_age">
          <th mat-header-cell *matHeaderCellDef> Age </th>
          <td mat-cell  class="text-center" *matCellDef="let row"> {{row.p_age}} </td>
        </ng-container>
  
        <ng-container matColumnDef="p_weight">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
          <td mat-cell  class="text-center" *matCellDef="let row"> {{row.p_weight}} </td>
        </ng-container>
  
        <ng-container matColumnDef="p_gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
          <td mat-cell class="text-center"  *matCellDef="let row"> {{row.p_gender}} </td>
        </ng-container>
        <ng-container matColumnDef="p_mobile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>mobile
          <td mat-cell  class="text-center" *matCellDef="let row"> {{row.p_mobile}} </td>
        </ng-container>

        <ng-container matColumnDef="p_address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address
          <td mat-cell  class="text-center" *matCellDef="let row"> {{row.p_address}} </td>
        </ng-container>

        <ng-container matColumnDef="p_platform">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Platform</th>
          <td mat-cell class="text-center"  *matCellDef="let row"> {{row.p_platform}} </td>
        </ng-container>

  
  
        <!-- <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell  class="text-center"  *matCellDef="let row">
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-info btn-sm me-1" (click)="edit(row, content)"
              >Edit</button><br>
            <button class="btn btn-danger btn-sm" (click)="deleteAlert(row.id)">Delete</button>
            </div>
          </td>
        </ng-container> -->
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr> -->
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20,30, 100]" showFirstLastButtons
      aria-label="Select page of users"></mat-paginator>
    </div>
  </div>
  