<!-- This table is a Jquery Datatable plugin -->

<!-- // this method if for data table
// tuts: https://webdamn.com/how-to-use-datatables-in-angular-8/
// https://datatables.net/examples/index
import { DataTablesModule } from 'angular-datatables'; -->

<h3>All Appointments</h3>

<div class="table-responsive mt-3">
<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Appointment id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 3</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
        <tr>
            <td>MinhJ</td>
            <td>Row 2 Data 2</td>
        </tr>
    </tbody>
</table>
</div>