.wrapper {
  height: 450px;
  vertical-align: middle;
  /* background-image: url(../../../assets/images/Contact/pawel-czerwinski--0xCCPIbl3M-unsplash.jpg) */
  background-color: #283848;
}
.bgp {
  border-radius: 25%;
  padding: 20px;
}
