<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Appointment</li>
    </ol>
  </nav>
  
  
  <div class="container">
    <div class="heading bg-info">
      <h3 class="text-light text-center p-2 mb-5">Add New Payment</h3>
    </div>
  
  
    <form  [formGroup]="paymentForm" class="form" role="form" autocomplete="off" id="formLogin" novalidate=""
      method="POST" (submit)="create()">
     
  
      <div class="row">
        <div class="form-group col ">
          <label for="">Patient ID:</label>
          <select class="form-select" formControlName="p_id" #pList (change)="patientSelect(pList.value)">
            <option *ngFor="let patient of patientList" [value]="patient.id">
              {{ patient.id}}
            </option>
          </select>
        </div>

        <div class="form-group col">
          <label for="uname">Patient Name:</label>
          <input type="text" formControlName="p_name" placeholder="Patient Name" class="form-control" [value]="patient_name" readonly>
         
        </div>


       

        <!-- <div class="form-group col">
          <label for="uname">Doctors Category:</label>
          <select class="form-select" formControlName="department_id">
            <option value="1">Medicine</option>
            <option value="2">Orthopedics</option>
            <option value="2">Surgon</option>
            <option value="2">Skin</option>
          </select>
        </div> -->
      </div>


      <div class="row">

        <div class="form-group col">
          <label for="">Department ID:</label>
          <select class="form-select" formControlName="dept_id" #depList (change)="deptSelect(depList.value)">
            <option *ngFor="let dept of deptList" [value]="dept.id">
              {{ dept.dept_name}}
            </option>
          </select>
        </div>

        <div class="form-group col">
          <label for="">Doctor Name:</label>
          <select class="form-select" formControlName="doc_id" (change)="docChange($event)">
            <option *ngFor="let doc of docListByDept" [value]="doc.id">
              {{ doc.first_name}} {{ doc.last_name}}
            </option>
          </select>
        </div>
      </div>



      <div class="row">
        <div class="form-group col">
          <label for="uname">Admission Date:</label>
          <input type="date" class="form-control" formControlName="admission_date">
         
        </div>
        <div class="form-group col">
          <label for="upass">Release Date:</label>
          <input type="date" class="form-control" formControlName="release_date">
        </div>
      </div>

      <div class="bg-secondary my-4 p-1">
        <h3 class="text-white">All The Charges:</h3>
      </div>
      
      <div class="row">
        <div class="form-group col">
          <label for="uname">Doctor Charges:</label>
          <input type="number" class="form-control" formControlName="doc_charge">
         
        </div>
        <div class="form-group col">
          <label for="upass">Ambulance Charge:</label>
          <input type="number" class="form-control" formControlName="ambulance_charge">
        </div>
      </div>


      <div class="row">
        <div class="form-group col">
          <label for="uname">Cabin Charges:</label>
          <input type="number" class="form-control" formControlName="cabin_charge">
         
        </div>
        <div class="form-group col">
          <label for="upass">Medicine Charge:</label>
          <input type="number" class="form-control" formControlName="med_charge">
        </div>
      </div>

      <div class="row">
        <div class="form-group col">
          <label for="uname">Testing Charges:</label>
          <input type="number" class="form-control" formControlName="test_charge">
         
        </div>
        <div class="form-group col">
          <label for="upass">Operation Charge:</label>
          <input type="number" class="form-control" formControlName="ot_charge">
        </div>
      </div>



      <div class="row">
        <div class="form-group col">
          <div class="mb-2">
            <label for="uname">Discout:</label>
            <input type="number" class="form-control" formControlName="discount">
          </div>

        </div>
        <div class="form-group col">
          <label for="">Total Bill (With Discount):</label>
          <input type="number" placeholder="Total Bill" class="form-control" formControlName="total_bill" [value]="getTotal()" readonly>
        </div>
      </div>
  
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success float-right d-flex justify-content-center m-2" id="btnLogin">Create Bill</button>
        <button class="btn btn-outline-info float-right d-flex justify-content-center m-2" id="btnLogin" routerLink="/admin/paymentlist">Payment List</button>
    </div>
  
    </form>
  </div>

<h4>Total Bill (without Discount): {{ttBill}}</h4>
<h4>Total Bill (with Discount): {{getTotal()}}</h4>