.mynav {
    /* background-color: aqua; */
    z-index: 999;
    position: absolute;
}

.myimg {
    position: relative;
    /* top: 10; */


}

.wrapper {
    height: 450px;
    vertical-align: middle;


    

}
.contentwrapper{
    height: 600px;
}
.lnk{
/* text-decoration: none; */
/* list-style: none; */
}

.btt{
    color: white;
    background-color: #1E88E5;;
}
.mat-success {
    background-color: green;
    color: #fff;
}
.mat-warn{
    background-color: green;
    color: #fff;
}