<div class="container my-3 py-3 px-3">
    <div class="container px-5 ">
        <form>
            <h2 class="display-6 text-center mb-5 fw-semibold">Please Put Your Information For Signup:</h2>

            <div class="row mb-3">
                <!-- Email input -->
                <div class="form-outline col-6">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input type="email" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter a valid email address" />
                   
                </div>

                <!-- Password input -->
                <div class="form-outline col-6">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="Enter password" />
                    
                </div>
            </div>



            <div class="row mb-3">
                <!-- Email input -->
                <div class="form-outline col">
                    <label class="form-label" for="form3Example3">Email address</label>
                    <input type="email" id="form3Example3" class="form-control form-control-lg"
                        placeholder="Enter a valid email address" />
                  
                </div>

                <!-- Password input -->
                <div class="form-outline col">
                    <label class="form-label" for="form3Example4">Password</label>
                    <input type="password" id="form3Example4" class="form-control form-control-lg"
                        placeholder="Enter password" />
                   
                </div>
            </div>





            <div class="text-center text-lg-start mt-4 pt-2 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-primary btn-lg me-3" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                <button type="button" class="btn btn-outline-secondary btn-lg " style="padding-left: 2.5rem; padding-right: 2.5rem;"> Reset</button>
            </div>


            <div class="d-flex justify-content-center align-items-center">
                <!-- Checkbox -->
                <!-- <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
              <label class="form-check-label" for="form2Example3">
                Remember me
              </label>
            </div>
            <a href="#!" class="text-body">Forgot password?</a> -->

                <div>
                    <p class="small fw-bold mt-2 pt-1 mb-0 lead">Already have an account? <a routerLink="/login"
                            class="link-danger">Please LogIn</a></p>
                </div>
            </div>



            <div class="divider d-lg-block align-items-center my-3">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>

            <div class="d-flex justify-content-center">
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                    <p class="lead fw-normal mb-0 me-3">Sign Up with</p>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="btn btn-primary btn-floating mx-1">
                        <i class="fab fa-linkedin-in"></i>
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>