<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3"> {{userName}}</h5>
            <p class="text-muted mb-4">{{fullName}}</p>
            <p class="text-muted mb-4">{{userLocation}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary">Follow</button>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fas fa-globe fa-lg text-warning"></i>
                <p class="mb-0">https://mdbootstrap.com</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                <p class="mb-0">@mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                <p class="mb-0">mdbootstrap</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{fullName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userEmail}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userGender}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userMobile}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userLocation}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">


<h4 class="text-center bg-info text-white">All Your Appointments</h4>


 <div class="row">
    <mat-form-field class="col">
      <mat-label>Search Your Data Here</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8 table_wrapper">
    <table mat-table [dataSource]="datasource" matSort>



      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment ID: </th>
        <td mat-cell class="text-center" *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <ng-container matColumnDef="apStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Status: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"><div [ngClass]="{'bg-success': row.apStatus === 'Confirmed', 'bg-secondary': row.apStatus === 'Pending'}" class="text-white rounded"> {{row.apStatus}}</div> </td>
      </ng-container>

      <ng-container matColumnDef="p_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Type: </th>
        <td mat-cell class="text-center" *matCellDef="let row"> {{row.p_type}}</td>
      </ng-container>

      <ng-container matColumnDef="p_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient ID: </th>
        <td mat-cell class="text-center" *matCellDef="let row"> {{row.p_id}}</td>
      </ng-container>


      <ng-container matColumnDef="apFirstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name: </th>
        <td mat-cell  class="text-center"  *matCellDef="let row"> {{row.apFirstName}} </td>
      </ng-container>

      <ng-container matColumnDef="apLastName">
        <th mat-header-cell *matHeaderCellDef> Last Name: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"> {{row.apLastName}} </td>
      </ng-container>

      <ng-container matColumnDef="apMobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"> {{row.apMobile}} </td>
      </ng-container>

      <ng-container matColumnDef="dept_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Department ID: </th>
        <td mat-cell class="text-center"  *matCellDef="let row"> {{row.dept_id}} </td>
      </ng-container>
      
      <ng-container matColumnDef="doc_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor ID: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"> {{row.doc_id}} </td>
      </ng-container>

      <ng-container matColumnDef="apLocation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Location: </th>
        <td mat-cell class="text-center"  *matCellDef="let row"> {{row.apLocation}} </td>
      </ng-container>

      <ng-container matColumnDef="apGender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"> {{row.apGender}} </td>
      </ng-container>

      <ng-container matColumnDef="apAge">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Age: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"> {{row.apAge}} </td>
      </ng-container>
      <ng-container matColumnDef="apDeseaseDetails">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Details: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"> {{row.apDeseaseDetails}} </td>
      </ng-container>






      
      <ng-container matColumnDef="apDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Appointment Date: </th>
        <td mat-cell  class="text-center" *matCellDef="let row"> {{row.apDate}} </td>
      </ng-container>



      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell  class="text-center"  *matCellDef="let row">
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-success btn-sm me-1"
            >Cancel Appointment</button><br>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <!-- <tr class="mat-row" *matNoDataRow>
<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
</tr> -->
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5,10,15, 100]" showFirstLastButtons
    aria-label="Select page of users"></mat-paginator>





















        </div>
      </div>
    </div>
  </div>
</section>